# --- Build Results ---
[Bb]in/
[Oo]bj/
wwwroot/

# --- Visual Studio ---
.vs/
.vscode/
*.user
*.suo
*.userprefs
*.sln.docstates

# --- JetBrains Rider ---
.idea/
*.sln.iml

# --- Database ---
*.db
*.sqlite
*.sqlite3
*.log

# --- Avalonia specific ---
!Avalonia.Themes.Default/

